/* Empty. Add your own CSS if you like */
ion-content{
	background-color: grey;
}

.container{
	background-color: grey;
}

.scrollCanvas{
  width: 100%;
  height: 100%;
  background-color: black;
}

.image{
  	width: 100%;
  	height: 600px;
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center, center;
}
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.headers{
  padding-bottom: 50px;
}
.locate{
padding: 10px;
}
.label{
  width: 50%;
}
.size{
  font-size: 20px;
}