<ion-view class="home-view">
  <ion-nav-title>
    <form ng-submit="loginn(text)">
    <div class="bar bar-header item-input-inset padding-bottom">
        <label class="item-input-wrapper label">
       <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" ng-model="text.city" class="tftextinput" name="q" style="font-family: Arial, Helvetica, sans-serif;font-size:14px;border:1px solid #0076a3; border-right:0px;border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;" size="21" maxlength="120"  id= "city"/> 
</label>
<ion-button class="ion-navigate" ng-click="centerOnMe()"></ion-button>
</div>
            </form>
  </ion-nav-title>
  <ion-content class="has-header padding">
   
       <!--  <p class="welcome-message">You have logged in with Facebook</p>
        <img ng-src="{{user.picture}}">
        <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">
          Log Out
        </a> -->
       
     <button ng-click="initialize()">click</button>
<div id="default" style="width:100%; height:100%"></div>
    <ion-list can-swipe="true" ng-repeat="pageData in pageDatas">
      <div   >
        
        <ion-item href="#">
         <img ng-src="{{pageData.picture}}" >
        <h2  >{{pageData.name}}</h2>
            <ion-option-button class="button-light icon ion-images" ng-click="getPhotos(pageData.id)"></ion-option-button>
            <ion-option-button class="button-light icon ion-message"></ion-option-button>
            <ion-option-button class="button-light icon ion-heart"></ion-option-button>
        </ion-item>
       
      </div>
 </ion-list>
   
  </ion-content>
</ion-view>
