
    <ion-header-bar class="bar-dark" >
      <h1 class="title">Map</h1>
    </ion-header-bar>
    <ion-content>
<!--              <map id="map" center="37.785868, -122.4064973" zoom="10">
             <marker ng-repeat="sites in siteList" id="{{$index}}" position="{{sites.latitude}},{{sites.longitude}}" 
              on-click="showSites(event, $index))">
            </marker>
             <info-window id="bar-info-window" ng-repeat="sites in siteList"id="bar{{$index}}" max-width="200" visible-on-marker="{{$index}}">
                <div ng-non-bindable="">
                    <div id="siteNotice"></div>
                    <div id="bodyContent">
                        <p>
                            {{selectedSite}}
                        </p>
                    </div>
                </div>
            </info-window> 
             </map> -->
             <button ng-click="initialize()">click</button>
<div id="default" style="width:100%; height:100%"></div>
    </ion-content>



    
