/* Empty. Add your own CSS if you like */
ion-content{
	background-color: white;
}

.container{
	background-color: white;
}

.scrollCanvas{
  width: 100%;
  height: 100%;
  background-color: black;
}

.image{
  	width: 100%;
  	height: 600px;
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center, center;
}
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.platform-ios.platform-cordova:not(.fullscreen).headmargin{
   margin-bottom: 200px;
}
.label {
    display:table-header-group;
    width:50%;
    font-weight:bold;
}



