/* Empty. Add your own CSS if you like */
ion-content{
	background-color: #E0E0E0;
}

.container{
	background-color: #E0E0E0;
}

.scrollCanvas{
  width: 100%;
  height: 100%;
  background-color: black;
}

.image{
  	width: 100%;
  	height: 600px;
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center, center;
}
#map {
  width: 100%;
  height: 100%;
}

.feeds{
  background-color: white;
border-style: solid;
padding-bottom: 5%;
padding-top: 5%;
padding-left: 5%;
}

.scroll {
  height: 100%;
}

.headers{
  padding-bottom: 25%;
}
.locate{
padding: 5%;
}
.size{
  font-size: 120%;
}
.border{
  border-color: white;
  background-color: #EF473A;
}
.img{
   display: block;
    margin: 0 auto;
}
.maplist{
  float: right;
}
.subfont{
  color: white;
  font-weight: bold;
  border-color: white;
  padding-top: 10px;
}
.bar-subheader{
  height: 30px !important;
}
.menuicon{
  font-size: 120%;
}
.name{
  font-family: Helvetica Neue;
}
.namesize{
  font-family: Helvetica Neue;
  font-size: 80%;
  text-align: justify;
  white-space:normal !important;
}





